@media screen and (max-width: 556px) {
    body {
        overflow-x: hidden;
    }

    #cabecalho {
        max-width: 556px;
        font-family: var(--fontPoppins);
        padding-top: 40px;
        padding-bottom: 30px;
        display: flex;
        justify-content: space-between;
    }

    #cabecalho>h1 {
        padding-top: 15px;
        font-size: 1.3em;
        color: white;
    }

    .navbar-Ul>li>a {
        display: none;
    }

    .navbar ul>li a:hover {
        text-decoration: underline;
        transition-duration: .5s;
    }

    .navbar-toggler {
        margin: 0;
        background-color: white;
        display: block;
    }

    .navbar-nav>.nav-item>.nav-link {
        padding-top: 15px;
        color: black;
    }

    main {
        padding-left: 50px;
        padding-right: 50px;
        max-width: 540px;
        min-width: 280px;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 80px;
    }

    #sobre {
        width: 100%;
        margin: auto;
    }

    #sobre p {
        padding-top: 30px;
        line-height: 1.5em;
        text-align: justify;
        font-size: 1.9em;
        color: white;
        font-family: var(--fontPassionOnveBold);
    }

    #revelacaoFoto {
        padding-top: 40px;
        text-align: justify;
        width: 100%;
    }

    #revelacaoFoto .paragrafo h2 {
        font-family: var(--fontPoppins);
        font-weight: bolder;
        color: var(--corDestaqueLetra);
        width: 100%;
        font-size: 1.6em;
    }

    #revelacaoFoto .paragrafo p {
        font-family: var(--fontPoppins);
        line-height: 1.5em;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 100%;
        color: white;
        text-align: justify;
        font-size: 1em;
    }

    #revelacaoFoto picture img {
        padding-top: 30px 30px 30px 30px;
        border-radius: 15px;
        width: 100%;
    }

    #revelacaoFoto .d-flex {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    #impressoes {
        padding-top: 60px;
        text-align: justify;
        width: 100%;
    }

    #impressoes .paragrafo h2 {
        font-family: var(--fontPoppins);
        font-weight: bolder;
        color: var(--corDestaqueLetra);
        width: 100%;
        font-size: 1.6em;
    }

    #impressoes .paragrafo p {
        font-family: var(--fontPoppins);
        line-height: 1.5em;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 100%;
        color: white;
        text-align: justify;
        font-size: 1em;
    }

    #impressoes picture img {
        padding-top: 30px 30px 30px 30px;
        border-radius: 15px;
        width: 100%;
    }

    #impressoes .d-flex {
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
    }

    #produtosEletronicos {
        padding-top: 60px;
        text-align: justify;
        width: 100%;
    }

    #produtosEletronicos .paragrafo h2 {
        font-family: var(--fontPoppins);
        font-weight: bolder;
        color: var(--corDestaqueLetra);
        width: 100%;
        font-size: 1.8em;
    }

    #produtosEletronicos .paragrafo p {
        font-family: var(--fontPoppins);
        line-height: 1.5em;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 100%;
        color: white;
        text-align: justify;
        font-size: 1em;
    }

    #produtosEletronicos picture img {
        padding-top: 30px 30px 30px 30px;
        border-radius: 15px;
        width: 100%;
    }

    #produtosEletronicos .d-flex {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    footer {
        padding-bottom: 20px;
        text-align: center;
    }

    footer h2 {
        color: var(--corDestaqueLetra);
        font-family: var(--fontPoppins);
        font-size: 3em;
        padding-bottom: 15px;
    }

    footer a,
    address {
        padding-top: 15px;
        text-decoration: none;
        font-size: 1em;
        color: white;
        font-family: var(--fontPoppins);
    }


    .back-to-top {
        background-color: #12B14C;
        border-radius: 65px;
        bottom: 14px;
        box-shadow: 2px 3px 19px -2px rgba(0, 0, 0, .75);
        color: black;
        cursor: pointer;
        height: 40px;
        position: fixed;
        font-size: .8em;
        text-align: center;
        right: 20px;
        width: 40px;
        z-index: 3;
    }
}